*{margin:0; padding:0;}
body{
  font-family: raleway;
  font-weight: 600;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 10px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  transition: all 0.4s ease-in-out;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
header{
  background-color: #111111;
  position: fixed;
  width: 100%;
}
header nav ul li{
  color: red;
  font-size: 1.2em;
  display: inline-block;
  list-style-type: none;
  padding: 3% 3%;
  transition: all 0.5s ease-in-out;
}
header nav ul li:hover{
  color: white;
  transform: scale(1.5);
  cursor: pointer;
}
header nav{
  margin-left: 50%;
}
.image_accueil{
  width: 100%;
}
.corps{
  margin: 3% 3%;
}
.corps2{
  margin: 3% 3%;
  text-align: right;
}
.bgd{
  background-image: url(../img/christmas2.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 150px;
}
.bgd2{
  background-image: url(../img/christmas3.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 150px;
}
.bgd3{
  background-image: url(../img/christmas4.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 150px;
}
.footer{
  background-color: #111111;
}
.foo{
  display: flex;
  justify-content: space-between;
  padding: 2%;
}

.slidein {
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -moz-animation-name: slidein;
  -webkit-animation-name: slidein;
  animation-name: slidein;
  -moz-animation-iteration-count: 3;
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
  -moz-animation-direction: alternate;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
   margin-left: 0%;
   width: 100%;
 }
}

@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
   margin-left: 0%;
   width: 100%;
 }
}

/* // Animation page */
.reveal {
  opacity: 0;
  transform: translateY(30px);
}

.reveal-visible {
  opacity: 1;
  transform: translateY(0);
  transition: 1s cubic-bezier(0.5, 0, 0, 1);
}

.RightToLeft {
  opacity: 0;
  transform: translateX(30px);
}

.RightToLeft-visible {
  opacity: 1;
  transform: translateX(0);
  transition: 1s cubic-bezier(0.5, 0, 0, 1);
}

.LeftToRight {
  opacity: 0;
  transform: translateX(-30px);
}

.LeftToRight-visible {
  opacity: 1;
  transform: translateX(0);
  transition: 1s cubic-bezier(0.5, 0, 0, 1);
}
